# Git
.git
.gitignore
.github

# Maven
target/*
!target/*.jar
mvnw
mvnw.cmd
.mvn

# IDE files
.idea
*.iml
.vscode
.project
.classpath
.settings

# Logs
logs
*.log

# Temporary files
tmp
temp
*.tmp
*.bak
*.swp

# Documentation
README.md
LICENSE
CHANGELOG.md
docs

# Test files
**/test
**/tests
**/*Test.java
**/*Tests.java

# Docker files
.dockerignore
docker-compose*.yml

# Misc
.DS_Store
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
